@font-face {
  font-family: "font-regular";
  src: url("source-sans-pro-regular.ttf");
}
@font-face {
  font-family: "font-semi-bold";
  src: url("source-sans-pro-semi-bold.ttf");
}
@font-face {
  font-family: "font-bold";
  src: url("source-sans-pro-bold.ttf");
}
