@import "../assets/fonts/sourse-sans-pro/sourse-sans-pro.scss";
* {
  font-family: "font-regular";
  font-weight: normal !important;
  -webkit-font-smoothing: subpixel-antialiased !important;
  -webkit-text-stroke: 1px transparent !important;
  -moz-osx-font-smoothing: grayscale !important;
}
